<%= form_with(model: question, local: true) do |form| %>
    <% if question.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
                <% question.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="col-sm-6 col-sm-offset-3">
        <div class="field">
            <%= form.label :タイトル %>
            <%= form.text_field :title, class: "form-control" %>
            <p>（最大200文字）</p>
        </div>

        <div class="field">
            <%= form.label :質問内容 %>
            <%= form.text_area :body, rows:15, id:"input-text", class: "form-control" %>
            <p id="counter">0文字（最大3000文字）</p>
        </div>

        <div class="actions">
            <%= form.submit class:"btn btn-default" %>
        </div>
<% end %>
