<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
      

      <h1>Questions</h1>

      <table class="table">
        <thead>
          <tr>
            <th>質問者</th>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.end_user.name %></td>
              <td><%= question.title %></td>
              <td><%= question.body %></td>
              <td><%= link_to 'Show', question %></td>
              <% if current_end_user.nil? %>
              <% elsif question.end_user.id == current_end_user.id %>
                <td><%= link_to '編集', edit_question_path(question) %></td>
                <td><%= link_to '削除', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to '新しく質問する', new_question_path, class: "btn btn-default" %>

    </div>
  </div>
</div>
