<div class="container">
  <div class="row">
  	<div class="panel-body">
    	<div class="col-xs-6">
    		<div class="panel panel-info">
    			<div class="panel-heading">
					<p id="notice"><%= notice %></p>

					<span>
					  <strong>質問者:</strong>
					  <%= @question.end_user.name %>
					</span>

					<span>
					  <strong>Title:</strong>
					  <%= @question.title %>
					</span>
					</div>

					<p>
					  <strong>質問内容</strong><br>
					  <%= @question.body %>
					</p>
				</div>
					<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %> |
					<%= link_to 'Back', questions_path, class: "btn btn-default"  %>
			</div>
		</div>
	</div>
</div>
