<div class="container">
  	<div class="row">
  		<h3>質問詳細 & 回答一覧</h3>
  		<p id="notice"><%= notice %></p>
    	<!-- ======================= 質問内容表示部分 ============================ -->
    	<div class="col-xs-6">
    		<p>投稿日時 <%= @question.created_at.strftime('%Y/%m/%d %H:%M') %>
    		<strong>質問者:</strong>
			<%= @question.end_user.name %>
    		<div class="panel panel-info" style="height: 400px; word-break: break-word;">
    			<div class="panel-heading">

					<span>
					  <strong>Title:</strong>
					  <%= @question.title %>
					</span>
				</div>
				<div class="panel-body">
					<p>
					  <strong>質問内容</strong><br>
					  <%= @question.body %>
					</p>
				</div>
			</div>
			<%= link_to '回答する', new_question_answer_path(@question), class: "btn btn-default" %> |
			<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %> |
			<%= link_to 'Back', questions_path, class: "btn btn-default"  %>
    	<!-- ================================================================== -->

    	<!-- ==================== コメント表示部分 =============================== -->

			<div id="comment_index_<%= @question.id %>"><br>
				<%= render partial: 'questions/comment', locals: {question: @question} %>
			</div><br>
			<%= form_with model:[@question, @comment],data: {remote: true} do |f|  %>
				<%= f.text_area :body, rows:'5', class: "form-control",placeholder: "質問に対するコメントをここに書いてください" %>
				<br>
				<%= f.submit "送信する", class: "btn btn-default btn-base-1 mt-20 pull-right" %>
			<% end %>
		</div>

    	<!-- ================================================================== -->

    	<!-- ==================== 回答内容表示部分 =============================== -->
		<div class="col-xs-6">
			<p><%= @question.answers.count %>件の回答があります。<p>
			<% if @question.answers.count != 0 %>

	    		<div class="panel panel-info" style="word-break: break-word;">

					<% @answers.each do |answer| %>
						<div class="panel-heading" style="margin-bottom: 10px;">
							<strong>回答者</strong>
							<%= answer.end_user.name %>

							<span>
						  		<strong>Title:</strong>
								<%= answer.title %>
							</span>

							<!-- ============ いいね機能 ==================== -->
							<div id="favorites_buttons_<%= answer.id %>">
							<%= render partial: 'favorites/favorite', locals: {question_answers: @question, answer: answer} %>
							</div>
							<!-- ========================================== -->
						</div>

						<div class="panel-body">
							<p>
							  <strong>回答内容</strong><br>
							  <%= raw Rinku.auto_link(simple_format(h(answer.body))) %>
							</p>
							<%= link_to '詳細',question_answer_path(@question, answer),class: "btn btn-default" %>
						</div>
					<% end %>
				<% else %>
					<div class="well" style="text-align: center">
						<strong>まだ回答がありません</strong><br>
						<br>
						<%= link_to '回答する', new_question_answer_path(@question), class: "btn btn-default" %>
					</div>
				</div>
			<% end %>
		</div>
    <!-- ====================================================================== -->
	</div>
</div>

