<div class="container">
  	<div class="row">
  		<h3>質問詳細 & 回答一覧</h3>
  		<p id="notice"><%= notice %></p>
    	<div class="col-xs-6">
    		<div class="panel panel-info" style="height: 400px;">
    			<div class="panel-heading">

					<span>
					  <strong>質問者:</strong>
					  <%= @question.end_user.name %>
					</span>

					<span>
					  <strong>Title:</strong>
					  <%= @question.title %>
					</span>
				</div>
				<div class="panel-body">
					<p>
					  <strong>質問内容</strong><br>
					  <%= @question.body %>
					</p>
				</div>
			</div>
			<%= link_to '回答する', new_question_answer_path(@question), class: "btn btn-default" %> |
			<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %> |
			<%= link_to 'Back', questions_path, class: "btn btn-default"  %>
		</div>
		<div class="col-xs-6">
			<p><%= @question.answers.count %>件の回答があります。<p>
			<% if @question.answers.count != 0 %>

	    		<div class="panel panel-info">
					<% @question.answers.each do |answer| %>
						<div class="panel-heading" style="margin-bottom: 10px;">
							<strong>回答者</strong>
							<%= answer.end_user.name %>

							<span>
						  		<strong>Title:</strong>
								<%= answer.title %>
							</span>

							<div id="favorites_buttons">
							<%= render partial: "favorites/favorite", locals: {question_answers: answer, answer: @answer} %>
							</div>
						</div>
						<div class="panel-body">
							<p>
							  <strong>回答内容</strong><br>
							  <%= answer.body %>
							</p>
							<%= link_to '詳細',question_answer_path(@question, @answers),class: "btn btn-default" %>
						</div>
					<% end %>
				<% else %>
					<div class="well" style="text-align: center">
						<strong>まだ回答がありません</strong><br>
						<br>
						<%= link_to '回答する', new_question_answer_path(@question), class: "btn btn-default" %>
					</div>
				</div>

			<% end %>
		</div>
	</div>
</div>
