<h1>EndUsers#edit</h1>
<p>Find me in app/views/end_users/edit.html.erb</p>


<%= form_with(model: @end_user, local: true) do |form| %>
  <% if @end_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@end_user.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @end_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Show', @end_user %> |
<%= link_to 'Back', end_users_path %>
