<h1>ユーザー詳細</h1>
<table class="table">
	<thead>
		<tr>
			<th>ユーザー名</th>
			<th>email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @end_user.name %></td>
			<td><%= @end_user.email %></td>
			<% if current_end_user.id == @end_user.id %>
				<td><%=link_to "退会する", end_user_path(@end_user), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"} %></td>
			<% elsif current_end_user.admin? %>
				<td><%=link_to "退会させる", end_user_path(@end_user), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"} %></td>
				<% end %>
		</tr>
	</tbody>
</table>
<% if current_end_user.id == @end_user.id %>
	<%= link_to 'edit', edit_end_user_path(@end_user), class: "btn btn-default" %> |
	<%= link_to 'Back', end_users_path, class: "btn btn-default" %>
<% end %>
