<h1>ユーザー詳細</h1>
<table class="table">
	<thead>
		<tr>
			<th>ユーザー名</th>
			<th>email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @end_user.name %></td>
			<td><%= @end_user.email %></td>
			<td><%= link_to '削除', end_user_path(@end_user), method: :delete %></td>
		</tr>
	</tbody>
</table>

<%= link_to 'edit', edit_end_user_path(@end_user) %> |
<%= link_to 'Back', end_users_path %>